.wrapper {
    flex-grow: 1;
    width: calc(100% - var(--sidebar-width));
    margin-left: var(--sidebar-width);
    position: absolute;
    justify-content: center;

    ::-webkit-scrollbar {
        display: none;
    }
}

.reports {
    background-color: var(--white);
    margin: 20px 20px 0 20px;
    box-shadow: 0 3px 24px 0 rgba(0, 0, 0, .2);
    min-width: 800px;
    height: calc(100vh - var(--header-height) - 20px);
    overflow-y: scroll;
}

.total-balance {
    font-size: 2.0rem;
    font-weight: 600;
    margin-top: 20px;
}

.inflow {
    margin-bottom: 20px;
    font-size: 2.0rem;
    color: #039be5;
}

.outflow {
    margin-bottom: 20px;
    font-size: 2.0rem;
    color: #e51c23;
}

.divider {
    width: 100%;
    border-bottom-width: 2px;
}

.inflow-pie {
    width: 100%;
    padding: 20px;

    &:hover {
        background-color: rgba(#039be5, .2);
        cursor: pointer;
    }
}

.outflow-pie {
    width: 100%;
    padding: 20px;

    &:hover {
        background-color: rgba(#e51c23, .2);
        cursor: pointer;
    }
}

.report-detail {
    background-color: var(--white);
    height: calc(100vh - var(--header-height) - 20px);
    margin: 20px 20px 0 0;
    box-shadow: 0 3px 24px 0 rgba(0, 0, 0, .2);
    border-radius: 0 0 4px 4px;
    overflow-x: hidden;
    overflow-y: scroll;
    // flex: 0;
    transition: flex 0.3s;
    white-space: nowrap;
    flex: auto;
}

.report-detail-show {
    flex: auto;
    margin-right: 20px;
}