.close-btn {
    background-color: transparent;
    color: rgba(0, 0, 0, .5);
    margin: 20px;

    &:hover {
        color: #000;
        cursor: pointer;
    }
}

.btn {
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    width: 80px;
    height: 40px;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
    }
}

.delete-btn {
    color: #e51c23;

    &:hover {
        background-color: rgba(#e51c23, 0.1);
    }
}

.edit-btn {
    color: var(--primary);
    margin-right: 10px;

    &:hover {
        background-color: rgba(45, 184, 76, 0.1);
    }
}