.wallet {
    background-color: transparent;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}

.icon {
    width: 48px;
    height: 48px;
}

.menu {
    margin-left: 12px;
    width: 100%;
}

.name {
    font-weight: 600;
    font-size: 13px;
    color: rgba(0, 0, 0, .7);
    margin-top: 4px;
}

.balance {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}

.selection {
    width: 310px;
    height: 480px;
    background-color: var(--white);
    position: absolute;
    top: 55px;
    left: 0;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    z-index: 200;
}

.select-text {
    margin: 10px;
    align-self: center;
}

.wallet-item {
    padding: 10px 10px 10px 20px;

    &:hover {
        cursor: pointer;
        background-color: rgba(45, 184, 76, .1);
    }
}

.name-item {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}

.balance-item {
    font-size: 13px;
}

.primary-text {
    color: var(--primary);
}