.month {
    background-color: transparent;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}

.menu {
    margin-left: 12px;
    width: 100%;
}

.name {
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, .7);
}

.range-date {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.selection {
    width: 310px;
    height: 180px;
    background-color: var(--white);
    position: absolute;
    top: 370px;
    left: 0;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, .1);
    display: flex;
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    z-index: 200;
}

.month-item {
    padding: 10px 10px 10px 20px;
    height: 60px;

    &:hover {
        cursor: pointer;
        background-color: rgba(45, 184, 76, .1);
    }
}

.select-text {
    font-weight: 800;
    font-size: 18px;
    color: var(--primary);
}

.select-month {
    height: 60px;

    &:hover {
        cursor: pointer;
        background-color: rgba(45, 184, 76, .1);
    }
}