.wrapper {
    flex-grow: 1;
    width: calc(100% - var(--sidebar-width));
    margin-left: var(--sidebar-width);
    position: absolute;
    justify-content: center;
}


.transactions-list {
    background-color: var(--white);
    max-height: calc(100vh - var(--header-height) - 20px);
    margin: 20px 20px 0 20px;
    box-shadow: 0 3px 24px 0 rgba(0, 0, 0, .2);
    width: 50%;

    ::-webkit-scrollbar {
        display: none;
    }
}

.transaction-detail {
    background-color: var(--white);
    height: 260px;
    box-shadow: 0 3px 24px 0 rgba(0, 0, 0, .2);
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    flex: 0;
    transition: flex 0.3s;
    white-space: nowrap;
    margin-top: 20px;
}

.time-select {
    width: 100%;
    display: flex;
    justify-content: center;
}

.time-select-btn {
    flex-grow: 1;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(160, 160, 160);
    letter-spacing: 1.5px;
    padding: 20px 10px;
    background-color: transparent;
    border-bottom-style: solid;
    border-width: 1px;

    &:hover {
        background-color: rgba(45, 184, 76, .1);
        cursor: pointer;
    }
}

.time-select-btn-center {
    color: var(--primary);
    border-width: 3px;
}

.transaction-detail-show {
    flex: auto;
    margin-right: 20px;
}

.add-transaction-btn {

    color: #fff;
    background-color: var(--primary);
    position: absolute;
    right: 140px;
    bottom: 70px;
    width: 70px;
    height: 70px;
    z-index: 190;

    &:hover {
        background-color: green
    }
}

.money-in {
    color: #039be5
}

.money-out {
    color: #e51c23
}